{% extends"base.html.twig"%}


{% block body %}
<div class="container">
  <div class="row">
       <h3 class="mt-5 mb-5">Create Form</h3> 
       {% for message in app.flashes('notice') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
       <div class="col-md-6 offset-md-3">
           {{ form_start(form) }}
                <div clss="form-group">
                     {{form_label(form.nom)}}
                     {{ form_widget(form.nom,{'attr':{'class':'form-control'}})}}
                </div>
                <div clss="form-group">
                     {{form_label(form.description)}}
                     {{ form_widget(form.description,{'attr':{'class':'form-control'}})}}
                </div>
                <div clss="form-group">
                     {{form_label(form.dateDebut)}}
                     {{ form_widget(form.dateDebut,{'attr':{'class':'form-control'}})}}
                </div>
                <div clss="form-group">
                     {{form_label(form.dateFin)}}
                     {{ form_widget(form.dateFin,{'attr':{'class':'form-control'}})}}
                </div>
                <div clss="form-group">
                     {{form_label(form.type)}}
                     {{ form_widget(form.type,{'attr':{'class':'form-control'}})}}
                </div>
                <div class="form-group">
                      <button class="btn btn-info mt-2 text white">Ajouter</button>
                </div>      
           {{ form_end(form) }}    
        </div>
    </div>
</div>                
{% endblock %}